[flake8]
ignore = E501,F401,F841 # ignores lines that are too long, unused imports (pytest, in particular) and unused vars. We will need to undo this once we clean up the codebase
max-line-length = 200  # need to change this once we have a code clean up. Lines of code do not need to be longer than 79 characters
