a {
    color:#fff;
}
a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
    background-color: #356893;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #356893, #18232d);
}
#container {
    width:75%;
    background-color:#fff;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#content {
    padding:20px;
}
#toplogo {
    width:100%;
}
#menubar {
    background: rgb(30,19,12);
    background: linear-gradient(0deg, rgba(30,19,12,1) 0%, rgba(69,43,28,1) 100%);             
    min-height:30px;
    width:100%;
    color: #fff;
    word-spacing: 90px;
    text-align:right;
    font-size:21px;
    font-family: 'Permanent Marker', cursive;
}
#menubar p {
    margin:0;
    padding:0;
    padding-right: 20px;
    padding-top: 5px;
}
form {
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    width:70%;
}
.grayhighlight {
    background-color:#ccc;
    border-radius:30px;
    padding:5px;
    padding-left:20px;
    margin:2px;
    width:50%;
}
.tabit {
    padding-left:20px;
}
.fancy, .fancy2 {
    border-collapse: collapse;
}
.fancy2 {
    margin-bottom:20px;
}
.fancy td, .fancy th, .fancy2 td, .fancy2 th {
    border: 1px solid #ddd;
    padding: 8px;
}
.fancy tr:nth-child(even){background-color:#f2f2f2;}
.fancy tr:hover {background-color:#ddd;}
.fancy th {
    padding-top:12px;
    padding-bottom:12px;
    text-align:left;
    background-color:#555;
    color:#fff;
}
.fancy2 tr:nth-child(even){background-color:#f2f2f2;}
.fancy2 tr:hover {background-color:#b8dcee;}
.fancy2 th {
    padding-top:12px;
    padding-bottom:12px;
    text-align:left;
    background-color:#33658f;
    color:#fff;
}
.thicker {
    border-top: 3px double #888; 
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border-radius:10px;
    transition: 0.4s;
    margin-top:5px;
}

.accordion span {
    display:inline-block;
    margin-right: 10px;
    font-size:20px;
    font-weight:bold;
    min-width:250px;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion button {
    border: none;
    color: #fff;
    border-radius:10px;
    padding:5px 10px 5px 10px;
    font-weight: bold;
    margin-right: 10px;
    min-width: 100px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
    border-radius: 10px 10px 0px 0px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-radius:0px 0px 10px 10px;
}
.panel div {
    padding:10px;
}
.panel div:nth-child(odd) {
    background-color:#fff;
}
.panel table {
    min-width:90%;
    margin:20px 0 20px 0;
}
.panel td {
    vertical-align:top;
}
.get {
    background-color:#ecf3fb;
    border:#6eb0ff solid 1px;
}
.getpanel {
    border:#6eb0ff solid 1px;
    background-color:#ecf3fb;
}
.get button {
    background-color:#6eb0ff;
}
.post {
    background-color:#ebf6ef;
    border:#49cc90 solid 1px;
}
.postpanel {
    border:#49cc90 solid 1px;
    background-color:#ebf6ef;
}
.post button {
    background-color:#49cc90;
}
.put {
    background-color:#faf1e4;
    border:#f5a01b solid 1px;
}
.putpanel {
    border:#f5a01b solid 1px;
}
.put button {
    background-color:#f5a01b;
}
.delete {
    background-color:#f9e7e7;
    border:#ef3b38 solid 1px;
}
.deletepanel {
    border:#ef3b38 solid 1px;
}
.delete button {
    background-color:#ef3b38;
}
.code {
    background-color:#333 !important;
    color:#fff;
    border-radius:10px;
}